<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!--  We created style format in styles.css file in static folder, using this here -->
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<!-- Here it shows header part -->
	<header>
		<div class="container">
		<div id="brandname">
			Machine Learning App with Flask
		</div>
		<h2>Spam Detector For Email Messages</h2>
		
	</div>
	</header>

<!-- Here it shows input text and reads in parameter 'message' it should same as in app.py -->

	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
		<p>Enter Your Message Here</p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="message" rows="6" cols="50"></textarea>
		<br/>

<!-- Here it shows submit text  -->

		<input type="submit" class="btn-info" value="predict">
		
	</form>
		
	</div>

	
	

</body>
</html>